Name: Nguyen Phuong Trinh

      Nguyen Thi Quynh

Exercise 1: GLM

1. Poisson

We have known that the density function of Poisson distribution is:
 F(Y=y)=e^(-lamda)*lamda^y/y!
It means that we can calculate the probability of a client has y claims in a year where lamda is the average claim within that year. However if we fix lamda, it would lead to overdispersion phenomenom so to avoid that we will consider lamda as a random variable and it will change correspond to the charateristic information of each client. To be more precise, in this exercise the characteristic information of the clients would be:
        1.Age
        2.Vehicles power
        3.Ville
        4.Rouge
        5.Age permit
We have theta=log(lamda) and theta= beta0+X'beta (where X is the characteristic matrix of the clients)
so: lamda= e^theta or lamda= e^(beta0+X'beta). we alternate it into the density function of poisson distribution and use loglikelihood function we will obtain(each client):
Li=log(e^(-e^(beta0+X'beta)*(e^(beta0+X'beta)^yi)/yi!)
L(beta0,beat,yi/xi)=sum of (Li)
so l=sum(log(e^(-e^(beta0+X'beta)*(e^(beta0+X'beta)^yi)/yi!)), where i is from 1 to 100000 (we have 100000 observations)

# Our mission is to find argmax(L(beta0,beat,yi/xi)) with respect to beta0, beta
and here beta is a vector beta(beta1,beta2,beta3,beta4,beta5) wrt age, vehicle power, ville, rouge. when we obtain beta, for each charateristic information we will obtain a specific value of lamda then we can calculate the probbability a specific client make y claims in a year so from that we can make pricing for that person. However in this exercise we will not do pricing part.

In [6]:
import pandas as pd          
import numpy as np
import statsmodels.api as sm
from scipy import stats  
from statsmodels.formula.api import glm
GLM=pd.read_csv("C:/Users/DELL/Desktop/GLM.csv")
print(GLM.info())
GLM.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
y             100000 non-null int64
age           100000 non-null float64
puissance     100000 non-null int64
ville         100000 non-null int64
rouge         100000 non-null int64
age_permis    100000 non-null float64
dtypes: float64(2), int64(4)
memory usage: 4.6 MB
None

   y        age  puissance  ville  rouge  age_permis
0  0  32.657359          0      1      0   14.106554
1  0  20.224933          0      1      0    0.002929
2  1  23.329700          0      1      0    3.172458
3  0  32.890539          1      1      0    5.244957
4  0  23.946291          0      1      0    4.862413

In [16]:
#add a column of 1 is the variable for beta0
x=np.ones(100000)
GLM['variable']=pd.Series(x)
GLM.head()

   y        age  puissance  ville  rouge  age_permis  varibable  variable
0  0  32.657359          0      1      0   14.106554        1.0       1.0
1  0  20.224933          0      1      0    0.002929        1.0       1.0
2  1  23.329700          0      1      0    3.172458        1.0       1.0
3  0  32.890539          1      1      0    5.244957        1.0       1.0
4  0  23.946291          0      1      0    4.862413        1.0       1.0

In [18]:
import pandas as pd          
import numpy as np
import statsmodels.api as sm
from scipy import stats  
from statsmodels.formula.api import glm
Y=GLM['y']
X=GLM[['age','puissance','ville','rouge','age_permis','variable']]
poisson_result=sm.GLM(Y, X, family=sm.families.Poisson()).fit()
print(poisson_result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:               100000
Model:                            GLM   Df Residuals:                    99994
Model Family:                 Poisson   Df Model:                            5
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -30538.
Date:                Thu, 02 Jul 2020   Deviance:                       43877.
Time:                        00:32:23   Pearson chi2:                 1.00e+05
No. Iterations:                     6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age           -0.0145      0.003     -5.190      0.000      -0.020      -0.009
puissance      0.1900      0.028      6.826      0.000       0.135       0.245
ville          0.1524      0.024      6.375      0.000       0.106       0.199
rouge         -0.0104      0.035     -0.294      0.769      -0.080       0.059
age_permis    -0.0135      0.004     -3.731      0.000      -0.021      -0.006
variable      -2.1266      0.060    -35.184      0.000      -2.245      -2.008
==============================================================================

so we get theta=-2.1266-0.0145*age+0.19*puissance+0.1524*ville-0.0104*rouge-0.0135*age_permis

2. Lasso

In [43]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
reg = linear_model.Lasso(alpha=0.0000001)
reg.fit(X_train,Y_train)
test_prediction=reg.predict(X_test)
lasso_mse = mean_squared_error(Y_test, test_prediction)
lasso_rmse = np.sqrt(lasso_mse)
print('The coefficient is: ',reg.coef_)
print('The RMSE is: ',lasso_rmse)

The coefficient is:  [-1.12969935e-03  1.90202032e-02  1.28719388e-02 -1.31513730e-05
 -8.63566305e-04  0.00000000e+00]
The RMSE is:  0.2990822490619682

Lasso was introduced in order to improve the prediction accuracy and interpretability of regression models by altering the model fitting process to select only a subset of the provided covariates for use in the final model rather than using all of them, so we could see that when we choose alpha very small, the beta0 is around 0, it means that the 'variable' does not effect Y

Exercise 2: Provision (Mack chain ladder)

1. Calculate fj

In [1]:
import pandas as pd
import numpy as np
#Create triangle
data = pd.DataFrame({'1': [3209,3367,3871,4239,4929,5217],
                   '2': [4372,4659,5345,5917,6794,np.nan],
                   '3': [4411,4696,5338,6020,np.nan,np.nan],
                   '4': [4428,4720,5420,np.nan,np.nan,np.nan],
                   '5': [4435,4730,np.nan,np.nan,np.nan,np.nan],
                   '6': [4456,np.nan,np.nan,np.nan,np.nan,np.nan]},
                  index=['1', '2', '3', '4','5','6'])
data

      1       2       3       4       5       6
1  3209  4372.0  4411.0  4428.0  4435.0  4456.0
2  3367  4659.0  4696.0  4720.0  4730.0     NaN
3  3871  5345.0  5338.0  5420.0     NaN     NaN
4  4239  5917.0  6020.0     NaN     NaN     NaN
5  4929  6794.0     NaN     NaN     NaN     NaN
6  5217     NaN     NaN     NaN     NaN     NaN

In [2]:
#create dtaframe of f with initial value is 0 
f=pd.DataFrame({'1':[0],
               '2':[0],
               '3':[0],
               '4':[0],
               '5':[0]},
               index=['f[j]'])
n=6
for j in range (0,n-1):
    f.iloc[0,j]=data.iloc[0:n-j-1,j+1].sum()/data.iloc[0:n-j-1,j].sum()
print(f)

             1         2         3         4         5
f[j]  1.380933  1.008476  1.008515  1.001858  1.004735

2. Fulfill the triangle

In [3]:
for i in range (1,6):
    for j in range (1,6):
        if np.isnan(data.iloc[i,j])==True:
            data.iloc[i,j]=data.iloc[i,j-1]*f.iloc[0,j-1]
print(data)

      1           2            3            4            5            6
1  3209  4372.00000  4411.000000  4428.000000  4435.000000  4456.000000
2  3367  4659.00000  4696.000000  4720.000000  4730.000000  4752.396843
3  3871  5345.00000  5338.000000  5420.000000  5430.072147  5455.783875
4  4239  5917.00000  6020.000000  6071.260644  6082.543048  6111.344266
5  4929  6794.00000  6851.584783  6909.926419  6922.767340  6955.547073
6  5217  7204.32725  7265.389896  7327.255106  7340.871562  7375.631044

3. Reserve

In [4]:
R=pd.DataFrame({'1':[0],
               '2':[0],
               '3':[0],
               '4':[0],
               '5':[0],
               '6':[0]},
               index=['Ri'])

n=6
for i in range (0,n):
    R.iloc[0,i]=data.iloc[i,5]-data.iloc[i,5-i]
print(R)

      1          2          3          4           5            6
Ri  0.0  22.396843  35.783875  91.344266  161.547073  2158.631044

4. Calculate sigma square

In [6]:
sigmasq=pd.DataFrame({'1':[0],
               '2':[0],
               '3':[0],
               '4':[0],
               '5':[0]},
               index=['sigma'])

n=6
for j in range (0,n-2):
    sigmasq.iloc[0,j]=((data.iloc[0:n-j-1,j]*(data.iloc[0:n-j-1,j+1]/data.iloc[0:n-j-1,j]-f.iloc[0,j])**2).sum())/(n-j-2)
    
sigmasq.iloc[0,n-2]=min((sigmasq.iloc[0,3]**2)/(sigmasq.iloc[0,2]),sigmasq.iloc[0,2],sigmasq.iloc[0,3])
print(sigmasq)

              1         2         3         4         5
sigma  0.525419  0.328677  0.200236  0.000661  0.000002

5.calculate eqm

In [7]:
eqm_Ri=pd.DataFrame({'1':[0],
               '2':[0],
               '3':[0],
               '4':[0],
               '5':[0],
               '6':[0]},
               index=['eqm_Ri'])
n=6
for i in range (1,n):
    for j in range (n-i-1,n-1):
        eqm_Ri.iloc[0,i]=(data.iloc[i,n-1]**2)*((sigmasq.iloc[0,n-i-1:n-1]/f.iloc[0,n-i-1:n-1]**2)
                                   *(1/data.iloc[i,n-i-1:n-1]+1/data.iloc[0:i,n-i-1:n-1].sum())).sum() 
        
print(eqm_Ri)

        1         2         3            4            5            6
eqm_Ri  0  0.021314  5.776344  1736.162113  4933.456779  8598.821793

In [8]:
n=6
for i in range (1,n):
    for j in range (n-i-1,n):
        eqm_R=(eqm_Ri.iloc[0,i]+data.iloc[i,n-1]*data.iloc[i:n,n-1].sum()
               *2*sigmasq.iloc[0,n-i-1:n-1]/(f.iloc[0,n-i-1:n-1]**2)/data.iloc[0:i,n-i-1:n-1].sum()).sum()
print(eqm_R)

46607.19315532822

In [9]:
totalR=R.iloc[0,0:6].sum()
percentage=np.sqrt(eqm_R)/totalR*100
print(str(percentage)+'%')

8.741414768581638%